<html ng-app="musicApp">
<head>
	<title>Music Library based on Angular JS</title>
	
	 <style>
  
  </style>
</head>
<body ng-controller="MainController">
<section class="webdesigntuts-workshop">
  <input type="text" ng-model="searchartist" placeholder="Search for an artist or album"> 
	<button ng-click="searchArtist()">Search</button>
	</section>
	
<section class="container">
  <ul>
    <li ng-repeat="artist in artists">
      <a class="media" ng-href="{{artist.external_urls.spotify}}" target="_blank">
        <img ng-src="{{artist.images[0].url}}" alt="">
        <div class="media-details">
          {{artist.name}}
        </div>
      </a>
    </li>
  </ul>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="angular-spotify.js"></script>
  <script src="main.controller.js"></script>
</body>
</html>
